
    header {
    background-color: antiquewhite;
    background-image: url(../imagenes-ecuador/gauayaquil\ 9\ de\ octubre.webp);
    max-width: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 50px 20px 20px;
    justify-content: space-between;
    align-items: right;
     }