header {
    background-image: url(../imagenes-ecuador/fondo\ del\ favicon\ amazonia.jpg);
}

/* Títulos de sección */
h1 {
    color: #3f4241;
    margin-bottom: 15px;
}

/* Párrafos */
p {
    font-size: 16px;
    line-height: 1.6;
}

/* Imágenes dentro de sección */
/* section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
image{
    width: 50%;
} */

.mapa {
  width: 50%;    /* ocupa la mitad del contenedor */
  height: 300px; /* ajusta la altura */
  padding: 50px;
  margin: top;
  border-radius: 8px;

}

