header {
    background-image: url(../imagenes-ecuador/-rotonda-Malecon-2000-Guayaquil-Ecuador-iStock-1206936770-640x419.webp);
}


/* Títulos de sección */
/* h1 {
    color: #0b241a;
    margin-bottom: 15px;
} */

/* Párrafos */
p {
    font-size: 16px;
    line-height: 1.6;
}
