body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 29, 27);
    background-color: rgb(201, 245, 248);
    }

    header {
    background-color: antiquewhite;
    background-image: url(../imagenes-ecuador/image\ de\ guayaquil.webp);
    max-width: 100px
    background-repeat: no-repeat;
    background-size: cover;
    padding: 600px 50px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

nav {
    width: 100vw;
    height: 50px;
    background-color: rgb(73, 186, 214);
    padding: 30px 30px;
    justify-content: last baseline;
    align-items: center;
    font-size: 30px;
}

nav img{
    height: 200px;
    width: 200px;
}

.mapa{
    width: 300px;
    height: 300px;
    padding: 50px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: 100;
    font-weight: 200;
    font-style: 200;
    font-size: 200;
    padding-right: 100px;
    margin-top: 100px;
    justify-content: center;
}


header a {
    border: 1px green;
    border-radius: 300px;
    color: rgb(143, 71, 71);
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    transition: none 300ms ease-out;
}

main {
    max-width: 80%;
    /*min-width:;*/
    margin: 0 auto;
}


section img {
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    justify-content: space-around;

}

#Informacion-general img{

    height: 400px;
    width: 500px;
    justify-content: space-around;
    justify-content: space-between;
    align-content: center;
    

    }
