body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
     background-image: url(../imagenes-ecuador/galapagos-islas.webp);
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}