body{
    margin: 0;
    padding: 0;
    line-height: 1,5;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(17, 49, 49, 0.932);
}

header{

    background-color: rgb(10, 196, 196);
    background-image: url(../imagenes-ecuador/bandera22.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100px;
    padding: 650px 650px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

header img{
    width: 300px;
    height: 300px;
    border-radius: 20px 5px 50px 6px;
    display: inline-block;  ºq  
    vertical-align: top;
}
nav {
    background-color: rgb(175, 194, 194);
    position: sticky;
    top: 0;
    padding: 10px  20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px violet;
}
nav img{
    height: 80px;
    border-radius: 20px;
    gap: 50px;
}


